// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.img-avatar{
    width: 28px;
    height: 28px;
    object-fit: cover;
}

.max-w-320px{
    max-width: 320px;
}
